includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - database
    excludePaths:
        - vendor/
        - storage/
        - bootstrap/cache/
        - tests/
    ignoreErrors:
        # Eloquent dynamic properties (accessed via __get)
        - '#Access to an undefined property [a-zA-Z\\]+::\$[a-zA-Z_]+#'
        # Access to properties on unknown classes
        - '#Access to property \$[a-zA-Z_]+ on an unknown class [a-zA-Z\\]+.#'
        # Filament method not found (extensions, custom methods)
        - '#Call to an undefined method [a-zA-Z\\]+::[a-zA-Z]+(\(\))?#'
        # Filament static method not found (route, etc)
        - '#Call to static method [a-zA-Z]+(\(\))? on an unknown class [a-zA-Z\\]+.#'
        # Class not found
        - '#Class [a-zA-Z\\]+ not found.#'
        # Argument type mismatches (Filament/Livewire)
        - '#Parameter .+ of method .+ expects .+, .+ given#'
